.bg-content {
  background-color: hsl(0, 0%, 98%);
}

.dark-mode-bg2 {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
